*~
*.pdb
*.pidb
*.suo
.deps
.libs
*-api.raw
*-api.xml
*.cache
*.dll
*.dll.config
*.exe
*.exe.config
*.la
*.lo
*.m4
*.msi
*.msm
*.mdb
*.o
*.pc
*.tar.gz
*.wixobj
*.wixpdb
*.FileListAbsolute.txt
.vs
bin
obj

AssemblyInfo.cs
INSTALL
Makefile
Makefile.in
bootstrap.status
config.*
configure
configure.in
depcomp
generated
generated.c
generated-stamp
gtk-sharp.snk
install-sh
lib
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
msi/unmanaged/download-stamp
msi/unmanaged/source/*
policy.config
policy.*.config
stamp*
